doctype html
html
head
body
mixin experience
  ul
   li
    p.experience__main__subtitle__job <b class="experience__main__subtitle">Company name</b>// Feb 2011 - Jun 2014
    p.experience__main__subtitle__job-uppercase Your job here
    p.experience__main__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
.experience__header
  +block__header-second('../src/experience/img/EXPERIENCE-ICON.jpg', 'experience')
.experience__main
  +experience
  +experience
  +experience