include ../block-header/block-header
include ../practice/practice
mixin education(data)
  section.education
    .education__header
      +block-header({src: 'education-icon.jpg', title: 'Education', theme: 'right-side'})
    .education__main
      .education__main-item
        +practice(data, 'blue')