*{
    font-family: Myriad Pro;
    line-height: auto;
    box-sizing: border-box;
}
.intro__main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 3.4rem;
    margin-bottom: 3.7rem;
}
.header__blue-circle{
    width: 10.5667rem;
    height: 10.6667rem;
    background-color: #3d6cb0;
    border-radius: 50%;
    position: relative;
    margin-bottom: 3.25rem;
    margin-top: 0.7rem;
    margin-left: 2.37rem;
}
.header__blue-circle:after{
    content: "";
    width: 12rem;
    height: 12rem;
    border: 1px solid #3d6cb0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
}
.intro__main__title{
    margin-left: 0.4rem;
}
.intro__header{
    font-weight: bold;
    font-size: 3.18rem;
    line-height: 4rem;
}
.intro__text{
    font-size: 1.23rem;
    font-weight: bold;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
    margin-left: 1.83rem;
}