*{
    font-family: Myriad Pro;
    line-height: auto;
    box-sizing: border-box;
}
.intro__main{
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header__blue-circle{
    width: 13.1667rem;
    height: 13.1667rem;
    background-color: #3d6cb0;
    border-radius: 50%;
    position: relative;
    align-items: center;
    margin-bottom: 3.25rem;
}
.header__blue-circle:after{
    content: "";
    width: 15.125rem;
    height: 15.125rem;
    border: 1px solid #3d6cb0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
}
h1{
    font-size: 3.4167rem;
    font-weight: lighter;
} 
.intro__header{
    font-weight: bold;
    font-size: 4rem;
}
.intro__text{
    font-size: 1.625rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}