doctype html
head
body
div(class="intro__main")
    .header__blue-circle
    span(class="intro__main__title")
        h1 Name Here 
        h2.intro__header surname
        h3.intro__text Graphic Designer