include ../block-header/block-header
mixin profile({ text = '', boldText = '' })
  section.profile
    +block-header({ src: 'profile-icon.jpg', title: 'Profile' })
    p.profile__text= `${text} `
      b= boldText