include ../block-header/block-header
mixin profile(data = {})
  -
    const {
      text = '',
      boldText = '',
    } = data;
  .profile
    +block-header({ src: 'profile-icon.jpg', title: 'Profile' })
    p.profile__text= text + ' '
      b= boldText