@font-face{
    font-family: 'Myriad pro';
    src: url('./MyriadPro-Regular.eot'),
    local('MyriadPro-Regular'),
    url('./MyriadPro-Regular.woff') format('woff'),
    url('./MyriadPro-Regular.ttf') format('ttf'),
    url('./MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Myriad pro';
    src: local('MyriadPro-Bold'),
    url('./MyriadPro-Bold.eot'),
    url('./MyriadPro-Bold.woff') format('woff'),
    url('./MyriadPro-Bold.ttf') format('ttf'),
    url('./MyriadPro-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Myriad pro';
    src: local('MyriadPro-LightSemiExt'),
    url('./MyriadPro-LightSemiExt.eot'),
    url('./MyriadPro-LightSemiExt.woff') format('woff'),
    url('./MyriadPro-LightSemiExt.ttf') format('ttf'),
    url('./MyriadPro-LightSemiExt.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}