* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  font-family: "Myriad pro";
  background: white;
  color: black;

  @include media-breakpoint($desktop-small) {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}