@import './mixins.scss';
@import './media.scss';

@mixin skills__circle{
    width: 0.9304rem;
    height: 0.9304rem;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: flex;
    margin-left: 0.75rem;
}
@mixin progress-bar {
    width: 14.270rem;
    height: 1.1rem;
    background-color: $bar;
    margin-bottom: 0.95rem;
}
@mixin progress-bar-process($width){
    content: "";
    display: block;
    height: 100%;
    width: $width;
    background-color: $blue;
}