include ./mixins.pug
.main__left_container
    include ../components/intro/intro.pug
    include ../components/profile/profile.pug
    include ../components/contacts/contacts.pug
    include ../components/skills/skills.pug
.main__right_container
    include ../components/education/education.pug
    include ../components/experience/experience.pug    
    include ../components/software/software.pug