@media screen and (max-width: 1330px) {
    h1{
        font-size: 1.8rem;
        margin-left: 2.9rem;
    }
    .intro__header{
        font-size: 2.21rem;
        margin-left: 2.5rem;
    }
    .intro__main{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 960px){
    .intro__main{
        margin-left: 25%;
    }
}