// Миксин для шапки каждого левого блока
mixin block__header({src, title, modif})
    .block__header
        div(class="block__header-image block__header-image--"+ modif)
            img(src= src alt= title)
        .block__header-title
            h2.block__header-text= title
        .block__header-title-line
// Миксин для блока "software"
mixin skills(progress)
    .software__progress-item
        p(class= 'software__progress-name'+progress)= progress 
        div(class= 'software__progress_'+progress)
// Миксин для кружков в блоке 'skills'
mixin block__skills()
    ul
        - for (var x = 0; x < 12; x++)
            li