
.contacts__main b{
    color: #3d6cb0;
    font-size: 1.0267rem;
}
.contacts__main p{
    font-size: 1.05rem;
    margin-top: 1.45rem;
}
.contacts__main{
    display: flex;
}
.contacts__main__title-wrap{
    width: 6.625rem;
    margin-bottom: 2.4rem;
}
