doctype html
html
head
body
.contacts__header
  +block__header('../src/images/contacts-pic.jpg', 'Contact')
.contacts__main
  .contacts__main__title-wrap
    p(class="title-wrap") <b>ADDRESS</b>
    p(class="title-wrap") <b>E-MAIL</b>
    p(class="title-wrap") <b>PHONE</b>
    p(class="title-wrap") <b>WEBSITE</b>
  .contacts__main__text-wrap
    p Main Street, City.
    p contact@domain.com
    p 555-555-555
    p www.yourweb.com