doctype html
html
head
body
.contacts__header
  .contacts__header-img
    img(src="../src/images/contacts-pic.jpg" alt="picture")
  .contacts__header-h2
    h2 CONTACT
.contacts__main
  .contacts__main__title-wrap
    p <b>ADDRESS</b>
    p <b>E-MAIL</b>
    p <b>PHONE</b>
    p <b>WEBSITE</b>
  .contacts__main__text-wrap
    p Main Street, City.
    p E-MAIL contact@domain.com
    p 555-555-555
    p www.yourweb.com