doctype html
html
head
body
header
 //  img(src="../src/images/black-point.jpg" alt="picture")
 h2 Software
 main
 div(class="photoshop__progress-bar")
 span(class="photoshop__bar")
 span(class="photoshop__progress")

 div(class="illustrator-bar")
 span(class="illustrator__bar")
 span(class="illustrator__progress")

 div(class="indesign__progress-bar")
 span(class="indesign__bar")
 span(class="indesign__progress")

div(class="dreamweaver__progress-bar")
 span(class="dreamweaver__bar")
 span(class="dreamweaver__progress")

 div(class="after-effects__progress-bar") 
 span(class="after-effects__bar") 
 span(class="after-effects__progress") 

 div(class="html&css3__progress-bar") 
 span(class="html&css3__bar") 
 span(class="html&css3__progress")