@mixin skills__circle ($color: $bar){
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: $color;
  display: flex;
}

.circles {
  &__item {
    @include skills__circle;

    &_filled {
      @include skills__circle ($blue);
    }
  }
}