$blue: #3d6cb0;
$bar: #e6e6e6;
$urlColor: black;

// screens
$desktop: 1920px;
$desktop-small: 1600px;
$tablet: 960px;
$mobile: 560px;

// mixins

@mixin media-breakpoint ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}