@mixin progress-bar {
  width: 14.270rem;
  height: 1.1rem;
  background-color: $bar;
  margin-bottom: 0.95rem;
}
@mixin progress-bar-process($width){
  content: '';
  display: block;
  height: 100%;
  width: $width;
  background-color: $blue;
}

@mixin progress-bar {
  width: 22.5vw;
  height: 1.4rem;
  background-color: $bar;
  margin-bottom: 0.95rem;

  @media screen and (max-width: 1280px) {
      width: 20.5vw;
  }

  @media screen and (max-width: 960px) {
      width: 40vw;
  }
}

@mixin progress-bar-process($width){
  content: '';
  display: block;
  height: 100%;
  width: $width;
  background-color: $blue;
}