mixin progress(data = {})
    -
        let {
            name = '',
            percent = 0
        } = data
    .software__progress-item
        p(class= 'software__progress-'+name)= name 
        .software__progress-block
            div(class="software__progress-block-inner" style=`width:${percent}%`)