@mixin progress-bar {
  width: 22.5vw;
  height: 1.4rem;
  background-color: $bar;
  margin-bottom: 0.95rem;

  @media screen and (max-width: 1280px) {
      width: 20.5vw;
  }

  @media screen and (max-width: 960px) {
      width: 40vw;
  }
}

.software {
  &__progress-block {
    @include progress-bar;

    &-inner {
      height: 100%;
      background: $blue;
    }
  }
}