@mixin progress-bar {
  width: 22.5vw;
  height: 1.4rem;
  background-color: $bar;

  @media screen and (max-width: $desktop-small) {
    width: 20.5vw;
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.progress {
  &__block {
    @include progress-bar;

    &-inner {
      height: 100%;
      background: $blue;
    }
  }

  @include media-breakpoint ($tablet) {
    width: 100%;
  }
}
