include ../block-header/block-header
include ../circles/circles.pug

mixin skills(data = {})
  -
    let {
      maxCount = 12
    } = data
  .skills
    .skills__header
      +block-header({src: 'skills-icon.jpg', title: 'Skills'})
    .skills__main
      each item in data
        p= item.title
        +circles({ count: maxCount, filled: item.filled })