include ../block-header/block-header
include ../circles-progress/circles-progress.pug

mixin skills(data = {})
  -
    const { maxCount = 12 } = data;
  .skills
    .skills__header
      +block-header({ src: 'skills-icon.jpg', title: 'Skills' })
    .skills__main
      each item in data
        p.skills__main-title= item.title
        +circles-progress({ count: maxCount, filled: item.filled, listClassName: 'skills__main-list' })