$blue: #3d6cb0;
// блок цветов для закраски панели skills
$colors: #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0;
// миксин для кружков 
@mixin skills__circle{
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: flex;
}

.skills {
    margin-top: 71px;
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase; 

        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            margin: 0;
            padding-left: 11%;
            padding-right: 12%;
            margin-top: 0.65rem;
        }

        p {
            font-family: 'PT Sans', Arial, sans-serif;
            margin: 0 auto;
            margin-top: 1.7rem;
            font-size: 1.4rem;
        }
    }

    &__creative-progress-bar {
        ul {
            li {
                @include skills__circle;
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}){
                        background-color: nth($colors, $i);
                    }
                }
            }
        }
    }

    &__Teamwork-progress-bar {
        ul {
            li {
                @include skills__circle;
                @for $i from 1 through 11 {
                    &:nth-child(#{$i}){
                        background-color: nth($colors, $i);
                    }
                }
            }
        }
    }

    &__Innovate-progress-bar {
        ul {
            li {
                @include skills__circle;
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}){
                        background-color: nth($colors, $i);
                    }
                }
            }
        }
    }

    &__Communication-progress-bar {
        ul {
            li {
                @include skills__circle;
                @for $i from 1 through 11 {
                    &:nth-child(#{$i}){
                        background-color: nth($colors, $i);
                    }
                }
            }
        }
    }
}