.skills
  .skills__header
    +block__header({src: './src/assets/img/skills-icon.jpg', title: 'Skills'})
  .skills__main
    p Creative
    .skills__creative-progress-bar
      +block__skills
    p Teamwork
    .skills__Teamwork-progress-bar
      +block__skills
    p Innovate
    .skills__Innovate-progress-bar
      +block__skills
    p Communication
    .skills__Communication-progress-bar
      +block__skills