.skills {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;

    &-title {
      font: 1.4rem 'PT Sans', Arial, sans-serif;
      margin: 1.7rem auto 0 auto;
    }
  }
}
