include ../block-header/block-header
include ../circles-progress/circles-progress.pug

mixin skills(data = {})
  -
    const { maxCount = 12 } = data;
  section.skills
    .skills__header
      +block-header({ src: 'skills-icon.jpg', title: 'Skills' })
    .skills__main
      each item in data
        -
          const {
            title,
            filled,
          } = item;
        p.skills__main-title= title
        .skills__main-progress
          +circles-progress({ count: maxCount, filled: filled })