mixin block-header({src, title, modif})
    .block__header
        div(class="block__header-image block__header-image--"+ modif)
            img(src=require('../../assets/images/' + src) alt= title)
        .block__header-title
            h2.block__header-text= title
        .block__header-title-line
