.block-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-around;

  &__image {
    max-width: 5.6vw;
    height: 5.9vw;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    margin-left: 0.7rem;
    margin-right: 0.6rem;
    margin-top: -0.2rem;
    color: $blue;
    font-size: 2.7rem;
    transition: 0.2s ease-in-out all;
  }

  &__title-line {
    height: 0.2917rem;
    width: 100%;
    background-color: $blue;
  }
}
