mixin block-header({ src, title, theme })
  -
    theme = theme ? `block-header__text_theme_${theme}` : '';
  .block-header
    div(class=`block-header__image`)
      img(src=require(`../../assets/images/${src}`) alt= title)
    .block-header__title
      h2(class=`block-header__text ${theme}`)= title
    .block-header__title-line
