extends ../../templates/main.pug

include ../../components/intro/intro.pug
include ../../components/profile/profile.pug
include ../../components/contacts/contacts.pug
include ../../components/skills/skills.pug
include ../../components/education/education.pug
include ../../components/experience/experience.pug
include ../../components/software/software.pug

block title
  title Resume layout

block content
  -
    const data = require('../../assets/data/data.json');
    const { intro, profile, contacts, skills, education, experience, software } = data;
  .index__container
    .index__left-container
      +intro(intro)
      +profile(profile)
      +contacts(contacts)
      +skills(skills)
    .index__right-container
      +education(education)
      +experience(experience)
      +software(software)