.index {
  max-width: 1920px;
  min-width: 320px;

  &__container {
    display: flex;
    padding: 5rem 3rem 5rem 4rem;
    font-size: 0.74rem;

    &-left {
      max-width: 43.5%;
      box-sizing: border-box;
      padding-right: 6.7%;
    }

    &-right {
      max-width: 57%;
      box-sizing: border-box;
    }
  }
}
