extends ../../templates/main.pug

include ../../components/intro/intro.pug
include ../../components/profile/profile.pug
include ../../components/contacts/contacts.pug
include ../../components/skills/skills.pug
include ../../components/education/education.pug
include ../../components/experience/experience.pug
include ../../components/software/software.pug

block title
  title Resume layout

block content
  -
    const data = require('../../assets/data/data.json');
    const { intro, profile, contacts, skills, education, experience, software } = data;
  main.index
    .index__container
      .index__container-left
        .index__intro
          +intro(intro)
        .index__profile
          +profile(profile)
        .index__contacts
          +contacts(contacts)
        .index__skills
          +skills(skills)
      .index__container-right
        .index__education
          +education(education)
        .index__experience
          +experience(experience)
        .index__software
          +software(software)