.index {
  p {
    font-size: 0.74rem;
  }

  &__container {
    display: flex;
    padding: 5rem 3rem 5rem 4rem;
  }

  &__left-container {
    max-width: 43.5%;
    box-sizing: border-box;
    padding-right: 6.7%;
  }

  &__right-container {
    max-width: 57%;
    box-sizing: border-box;
  }
}
