.index {
  max-width: 1920px;
  min-width: 320px;

  &__container {
    display: flex;
    padding: 5rem 3rem 5rem 4rem;
    font-size: 0.74rem;

    &-left {
      max-width: 43.5%;
      box-sizing: border-box;
      padding-right: 6.7%;

      @include media-breakpoint($tablet) {
        max-width: 100%;
      }
    }

    &-right {
      max-width: 57%;
      box-sizing: border-box;

      @include media-breakpoint($tablet) {
        max-width: 100%;
      }
    }

    @include media-breakpoint($tablet) {
      flex-direction: column;
    }
  }

  &__profile {
    margin-top: 3.2rem;
  }

  &__skills {
    margin-top: 3rem;

    @include media-breakpoint ($tablet) {
      margin-bottom: 3rem;
    }
  }

  &__experience {
    margin-top: 3.5rem;
  }

  &__software {
    margin-top: 3.5rem;
  }
}
