mixin circles-progress(data = {})
  -
    let {
      filled = 0,
      count = 0
    } = data;
  ul.circles-progress
    - for (let x = 0; x < filled; x += 1)
      li.circles-progress__item_filled
    - while (count - filled > 0)
      li.circles-progress__item
      - count -= 1;