.circles-progress {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0 12% 0 11%;

  &__item {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: $bar;

    &_filled {
      background-color: $blue;
    }
  }
}
