$blue: #3d6cb0;
// блок цветов для закраски панели skills
$colors: #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0, #3d6cb0;
// миксин для кружков 
@mixin skills__circle{
    width: 0.9304rem;
    height: 0.9304rem;
    border-radius: 50%;
    background-color: #e6e6e6;
    display: flex;
    margin-left: 0.50rem;

}
.skills__main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}
.skills__main__container p{
    font-size: 1.2834rem;
    margin: 0 auto;
    margin-top: 0.7rem;
}
.skills__main__creative-progress-bar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.44rem;
    margin-left: 1.82rem;
}

.skills__main__creative-progress-bar ul li{
@include skills__circle;
    @for $i from 1 through 9 {
        &:nth-child(#{$i}){
            background-color: nth($colors, $i);
        }
    }
}

.skills__main__Teamwork-progress-bar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.7rem;
    margin-left: 1.82rem;
    margin-bottom: 0.4rem;
}
.skills__main__Teamwork-progress-bar ul li{
    @include skills__circle;
    @for $i from 1 through 11 {
        &:nth-child(#{$i}){
            background-color: nth($colors, $i);
        }
    }
}
.skills__main__Innovate-progress-bar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;
    margin-left: 1.82rem;
}
.skills__main__Innovate-progress-bar ul li{
    @include skills__circle;
    @for $i from 1 through 6 {
        &:nth-child(#{$i}){
            background-color: nth($colors, $i);
        }
    }
}
.skills__main__Communication-progress-bar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.62rem;
    margin-left: 1.82rem;
}
.skills__main__Communication-progress-bar ul li{
    @include skills__circle;
    @for $i from 1 through 11 {
        &:nth-child(#{$i}){
            background-color: nth($colors, $i);
        }
    }
}

