doctype html
html
head
body
mixin education
  //  img(src="../src/images/black-point.jpg" alt="picture")
  p <b>MASTER DEGREE</b> // Feb 2011 - Jun 2014 
  p UNIVERSITY NAME
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. 

header
  //  img(src="../src/images/education.jpg" alt="picture")
  h2 Education
main
+education
+education
+education
+education