.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;

  &__avatar {
    width: 15rem;
    height: 15rem;
    background-color: $blue;
    border-radius: 50%;
    position: relative;
    margin-top: 0.6rem;
    box-shadow: inset 0px 0px 0px 22px white;
    border: 1px solid $blue;

      &-picture {
        border-radius: 50%;
        width: 100%;
        padding: 0.9rem;
      }
  }

  &__title {
    margin-top: 1.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__name {
    font: lighter 3.5rem 'Myriad pro', Arial, sans-serif;
    transition: 0.2s ease-in-out all;
    word-break: break-word;
    text-transform: uppercase;
  }

  &__header {
    font: bold 4rem 'Myriad pro', Arial, sans-serif;
    line-height: 3rem;
    transition: 0.2s ease-in-out all;
    word-break: break-word;
  }

  &__text {
    text-align: center;
    line-height: 5rem;
    font-size: 1.56rem;
    transition: 0.2s ease-in-out all;
    word-break: break-word;
    text-transform: uppercase;
  }
}
