mixin intro({ avatar = '', name = '', surname = '', job = '' })
  section.intro
    .intro__avatar
      - if (avatar)
          img(src= require(`../../components/intro/img/${avatar}`), alt="user-avatar").intro__avatar-picture
    .intro__title
      h1.intro__name= name
      h2.intro__header= surname
      h3.intro__text= job