mixin intro(data = {})
  -
    let {
      avatar = '',
      name = '',
      surname = '',
      job = '',
    } = data;
  .intro
    .intro__avatar
      - if (avatar)
          img(src= require('../../assets/images/' + avatar), alt="user-avatar").intro__avatar-picture
    .intro__title
      h1.intro__name= name
      h2.intro__header= surname
      h3.intro__text= job