.profile__header{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
    color: #3d6cb0;
}
.profile__header-h2{
    padding-left: 0.7917rem;
    margin-right: 0.6667rem;
}
.profile__header:after{
    content: "";
    display: block;
    height: 0.1667rem;
    width: 100%;
    background-color: #3d6cb0;
}