include ../block-header/block-header
mixin experience-settings(data = {})
  -
    let {
      title = '',
      date = '',
      job = '',
      description = '',
    } = data;
  li
    .experience__subtitle-wrap
      p.experience__subtitle= title
      p.experience__date= date
    p.experience__job= job
    p.experience__text= description
mixin experience(data = {})
  .experience
    .experience__header
      +block-header({src: 'experience-icon.jpg', title: 'experience', modif: 'right_side'})
    .experience__main
      for item in data
          ul
            +experience-settings({ title: item.title, date: item.date, job: item.job, description: item.text})