include ../block-header/block-header
include ../practice/practice
mixin experience(data = {})
  .experience
    .experience__header
      +block-header({src: 'experience-icon.jpg', title: 'experience', modif: 'right_side'})
    .experience__main
      +practice(data)