include ../block-header/block-header
include ../practice/practice
mixin experience(data = {})
  .experience
    .experience__header
      +block-header({src: 'experience-icon.jpg', title: 'experience', theme: 'right-side'})
    .experience__main
      .experience__main-item
        +practice(data)