$blue: #3d6cb0;
$bar: #e6e6e6;
@mixin progress-bar {
    width: 14.270rem;
    height: 1.1rem;
    background-color: $bar;
    margin-bottom: 0.95rem;
}
@mixin progress-bar-process($width){
    content: "";
    display: block;
    height: 100%;
    width: $width;
    background-color: $blue;
}

.software {
    &__header {
        margin-top: 2.5rem;
        margin-bottom: 0.9rem;
    }

    &__main {
        display: flex;
        margin-left: 0.36rem;
    }

    &__column {
        &-left {
            display: flex;
            flex-direction: column;
            margin-right: 3.56rem;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }
}

.software__main__left-column p,
.software__main__right-column p{
    font-family: Myriad pro;
    text-transform: uppercase;
    font-size: 1.320rem;
    margin-bottom: 0.38rem;
}

.software__progress__photoshop,
.software__progress__illustrator,
.software__progress__indesign,
.software__progress__dreamweaver,
.software__progress__after-effects,
.software__progress__html-css3{
    @include progress-bar;
}
.software__progress__photoshop:after{
    @include progress-bar-process(91%);
}
.software__progress__illustrator:after{
    @include progress-bar-process(70.6%);
}
.software__progress__indesign:after{
    @include progress-bar-process(56.4%);
}
.software__progress__dreamweaver:after{
    @include progress-bar-process(83%);
}
.software__progress__after-effects:after{
    @include progress-bar-process(61.7%);
}
.software__progress__html-css3:after{
    @include progress-bar-process(91.2%);
}