@import '../../modules/mixins.scss';
@import '../../modules/variables.scss';

.software__progress_photoshop,
.software__progress_illustrator,
.software__progress_indesign,
.software__progress_dreamweaver,
.software__progress_after-effects,
.software__progress_html-css3{
    @include progress-bar;
}

.software {
    &__header {
        margin-top: 3.5rem;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        margin-left: 0.36rem;
        margin-top: 1.3rem;

        p {
            font-family: 'PT Sans', Arial, sans-serif;
            text-transform: uppercase;
            font-size: 1.45rem;
            margin: 0.6rem 0 1rem 0;
        }
    }

    &__column {
        &-left {
            display: flex;
            flex-direction: column;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }

    &__progress {
        &_photoshop:after {
            @include progress-bar-process(91%);
        }

        &_illustrator:after {
            @include progress-bar-process(70.6%);
        }

        &_indesign:after {
            @include progress-bar-process(56.4%);
        }

        &_dreamweaver:after {
            @include progress-bar-process(83%);
        }

        &_after-effects:after {
            @include progress-bar-process(61.7%);
        }

        &_html-css3:after {
            @include progress-bar-process(91.2%);
        }
    }
}