include ../mixin-progress/mixin-progress

.software
   .software__header
      +block__header({src: './assets/images/software-icon.jpg', title: 'Software', modif: 'right_side'})
   .software__main
      .software__column-left
         +progress('photoshop')
         +progress('illustrator')
         +progress('indesign')
      .software__column-right
         +progress('dreamweaver')
         +progress('after-effects')
         +progress('html-css3')