.software
   .software__header
      +block__header({src: './src/assets/img/software-icon.jpg', title: 'Software', modif: 'right_side'})
   .software__main
      .software__column_left
         +skills('photoshop')
         +skills('illustrator')
         +skills('indesign')
      .software__column_right
         +skills('dreamweaver')
         +skills('after-effects')
         +skills('html-css3')