.software
   .software__header
      +block__header-second('./src/assets/img/software-icon.jpg', 'Software')
   .software__main
      .software__column-left
         p Photoshop
         +skills('photoshop')
         p illustrator
         +skills('illustrator')
         p Indesign
         +skills('indesign')
      .software__column-right
         p Dreamweaver
         +skills('dreamweaver')
         p After Effects
         +skills('after-effects')
         p html&css3
         +skills('html-css3')