.software__header
  +block__header-second('./src/assets/img/software-icon.jpg', 'Software')
.software__main
 .software__main__left-column
    p Photoshop
    +skills('photoshop')
    p illustrator
    +skills('illustrator')
    p Indesign
    +skills('indesign')
 .software__main__right-column
    p Dreamweaver
    +skills('dreamweaver')
    p After Effects
    +skills('after-effects')
    p html&css3
    +skills('html-css3')