include ../block-header/block-header
include ../progress/progress
mixin software(data)
  section.software
    .software__header
      +block-header({ src: 'software-icon.jpg', title: 'Software', theme: 'right-side' })
    .software__main
      each item in data
        .software__main-item
          +progress(item)