.practice {
  display: flex;
  flex-direction: column;

  &__header {
    margin-top: 3.5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      position: relative;
      margin-top: 0.65rem;

      &:before {
        content: '';
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        position: absolute;
        left: -1.9rem;
        top: 0.4rem;
        background-color: black;
      }
    }
  }

  &_theme {
    &_black {
      margin-top: 1.8rem;
    }

    &_blue {
      margin-top: 0.8rem;

      .practice__subtitle {
        color: $blue;
      }
    }
  }

  &__text {
    margin: 0.6rem 0 0 0.9rem;
    font: 0.9rem/1.2rem 'PT Sans', Arial, sans-serif;
  }

  &__subtitle {
    color: black;
    position: relative;
    margin: 0;
    padding-left: 2%;
    text-transform: uppercase;
    white-space: nowrap;
    font: bold 1.65rem 'Myriad pro', Arial, sans-serif;

    &-wrap {
      display: flex;

      @include media-breakpoint($mobile) {
        flex-direction: column;
      }
    }
  }

  &__date {
    font: 1.52rem 'PT Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    padding-left: 3%;
    align-items: center;
    white-space: nowrap;
  }

  &__job {
    font: 1.4rem 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin: 0.4rem 0 0 0.7rem;
  }
}
