block contacts
  .contacts
    .contacts__header
      +block__header({src: './src/assets/img/contacts-icon.jpg', title: 'Contact'})
    .contacts__main
      .contacts__title_wrap
        p.title-wrap ADDRESS
        p.title-wrap E-MAIL
        p.title-wrap PHONE
        p.title-wrap WEBSITE
      .contacts__text_wrap
        p.contacts__text Main Street, City.
        p.contacts__text contact@domain.com
        p.contacts__text 555-555-555
        p.contacts__text www.yourweb.com