include ../block-header/block-header
mixin contacts(data = {})
  -
    const {
      address = '',
      email = '',
      tel = '',
      website = '',
    } = data;
  .contacts
    .contacts__header
      +block-header({src: 'contacts-icon.jpg', title: 'Contact'})
    .contacts__main
      each item in data
        .contacts__row
          .contacts__caption= item.title
          case item.type
            when 'text'
              p.contacts__data.contacts__text-label= item.text
            when 'email'
              a(href=`mailto: ${item.text}`).contacts__data.contacts__link-label= item.text
            when 'tel'
              a(href=`tel: ${item.text}`).contacts__data.contacts__link-label= item.text
            when 'link'
              a(href= item.text target="_blank" rel="noopener noreferrer").contacts__data.contacts__link-label= item.text