
.contacts {
    margin-top: 3.2rem;
    &__title_wrap{
        width: 31%;

        p {
            color: #3d6cb0;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    &__text_wrap {
        p {
            font-family: 'PT Sans', Arial, sans-serif;
            font-size: 1.28rem;
        }
    }

    &__main {
        display: flex;

        p {
            margin-top: 2rem;
        }
    }
}